<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sinatra Hangerman</title>
  </head>
  <body>
    <h1>Hangerman</h1>
    <p>Welcome to Hangerman! (a hangman game running on Sinatra)</p>
    <a href="/new-game">New Game</a>
    <a href="/load-game">Load Game</a>
  </body>
</html>
